<form action="http://www.google.com/search">
  <div>
    Let's search Google:
    <input name="q" />
    <input type="submit" />
  </div>
</form>


<form action="submit">
    UserName: <input type="text" size="10"  maxLength="8" name="username" />
    Password: <input type="password" size="16" name="password" />
    <div>
        What toppings do you want on your pizza?</p>
        <input type="checkbox" value="oh yea"name="Pepperoni" /> Pepperoni<br />
         <input type="checkbox" name="chicken"  /> chicken<br />
    </div>
    <input type="submit" value="Log In" />  
</form>

<form action="submit"></form>
<label for="visa"> <input type="radio" name="cc" value="visa" id="visa" checked/> Visa </label>
<input type="radio" name="cc" value="mastercard" /> MasterCard </label>
<input type="radio" name="cc" value="amex" /> American Express </label>
<input type="radio" name="discover" value ="discover" /> Discover </label>
<input type="submit">
</form>
</body>

<input type="text" size="10" maxlength="8" /> NetID <br />
<input type="password" size="16" /> Password
<input type="submit" value="Log In" />