<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document </title>
</head>
<body>
<form action="">
    <div>   
        <label for="name">
            Name:<input type=""text" name="name" id="name">
        </label><br>
        <input type="text" name="name" id="name">
        <label for="food">
            Food<input type="text" name="food" id="food">
        </label><br>
        <label for="meat"
            >Meat:<input type="text" name="meat" id="meat">
        </label><br>
        <input type="submit" value="Submit">
    </div>
</form>
</html>